header{
    font-size: 100%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0 auto;
    min-height: 100vh;

}
img{
    
    /* height: 200px;
    display:flex;
    justify-items: center; */
}

 .flexbox-header {  /*thisis the flex container */
    background-color: green;
    display: flex;
    /* justify-content:center; */
    align-items: center;
    flex-wrap: wrap;
    background-image: url(./images/rethis\ ightining\ bolt.png);
    background-size: cover;
    border-style: groove;
   border-color: gold;
   border-radius: 5pt;
    /* justify-content: center;
    align-content: center; */
}

.backdrophead{
    /* z-index: -1; */
    
    /* background: url(./images/rethis\ ightining\ bolt.png); */
    width: 100%;
}
.flexbox-item{
    /* width: 33%; */
    /* background-color: rgba(255, 255, 255, 0.205);     */
    fill-opacity: 25%;
    color: gold;
    padding: 30px;
    /* border-radius: 20px solid gold;
    border-style: groove; */
    
    
}

.nameplate{
    min-height: 345px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    font-size: 25pt;
    /* width: 20%;
    position:relative; */ 
    
}
.picture{
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    /* justify-items: center;
    height: 400;
    width: 35%; */
}
.list{
    min-height: 345px;
    /* width: 45%;
    font-size: 16pt; */
    display: flex;
    align-items: center;
    
}
ul{
    list-style-type: none;
    font-size: 40pt;
    
    display: flex;
    
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;

}
li{
    padding: 30px;
}

/*new body CSS */


.bodycontainer{
    display: flex;

    width: 100%;
    
    
}

.bodycontainer :nth-child(1){
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%; */
    flex: 1 0 50%;
}

.bodycontainer :nth-child(2){
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%; */
    flex: 1 0 50%;
    margin: 10px;
    
}

.card1{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

/* .card1 :nth-child(n+1){
    flex: 1 0 100%;

} */

.card3{
    display: flex;
    flex-wrap: wrap;
    

}

.card3 :nth-child(n+1){
    flex: 1 0 100%;
    flex-wrap: wrap;
}

/* .card1 :nth-child(n+2){
    background-color: red;
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%; 
    flex: 1 0 100%;
} */



/*.projectcards{
     background-color: green;
   display: flex; */
   /* justify-content:center; */
   /* flex-wrap: wrap;
   flex-direction: row;
   padding: 30px;
   justify-content: space-between;
   min-width: 50%; 
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row;
  
                                 
}


.firstproject{
   /* width: 50%;
      display: flex;
      justify-items: center;
      justify-content: center;
   align-items: center;
   flex-wrap: wrap; 
   padding: 30px;
   
   /* background-image: url(./images/rethis\ ready\ for\ combat\ evil-Recovered2.png);
   background-size: cover; 
  display: flex;
  flex-wrap: wrap;
 
}


   


.otherproject{
   /* display: flex;
       flex-wrap: wrap;
   
   width: 50%;
   flex-direction: column;
   
   margin: 0; 
   margin-top: 10px;
   
}

.project2{
   /* display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
   justify-items: center;
   height: 50%;
   width: 100%;
color: white;
flex-wrap: wrap; 
/* background-image: url(./images/rethis\ ready\ for\ combat\ evil-Recovered2.png);
background-size: cover; 
/* border-bottom: 5pt;
border-style: groove;
border-color: gold; 
display: flex;
flex-wrap: wrap;


}

.project3{
   /* display: flex;
  color: white;
align-items: center;
align-content: center;
justify-content: center;
justify-items: center; */
/* background-image: url(./images/rethis\ ready\ for\ combat\ evil-Recovered2.png);
background-size: cover; */
/* height: 50%;
width: 100%;
flex-wrap: wrap; 
display: flex;
flex-wrap: wrap;

}*/
/*tablet size*/
@media screen and (max-width: 1600px) {
    body{
        background-color: cornflowerblue;
    }
    .firstproject{
        width: 655px;
    }
}
/*tablet size*/
@media screen and (max-width: 1200px) {
    
    body{
        background-color: red;
    }
    .projectcards{
        display: flex;
        justify-content:center;
        justify-items: center;
        align-content:center;
        flex-direction: column;
    }
    .otherproject{
        padding: 20px;
    }
}
/*large smartphone*/
@media screen and (max-width: 900px) {
    body{
        background-color: orange;
    }
    
}
/*small cell phone*/
@media screen and (max-width: 700px) {
  
   

    body{
        background-color: green;
    }
    .projectcards{
        
        
    }
}

.aboutme{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 14pt;
    color: gold;
    background-color: gray;
    height: 100px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;

}
.contact{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 14pt;
    color: gold;
    background-color: darkgreen;
    height: 100px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 14pt;
    color: black;
    background-color: darkgreen;
    height: 100px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}