li{
    font-size: 25pt;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    display: inline-flex;
    margin-top: 75px;
    margin-inline-end: 20px;
    border: 10px solid gold;
}

header{
    /* background-color: darkgreen; */
    color: orange;
    display: inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 92%;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: -1;
    padding: 10px;
    position: fixed;
    border: 20px solid gold;
}
p{
    
    
}
#nameplate{
    width: 25%;
    margin-inline-start: 20px;
    margin-top: 30px;
    font-size: 20pt;
    border: 10px solid gold; 
    padding: 5px;   
    justify-content: flex-start;
}

