* {
    margin: 5px;
    padding: 5px;


} 

p{
    display: flex;
    position: relative;
    background: cornflowerblue url(./images/rethis\ ightining\ bolt.png);

}

ul{
    list-style-type: none;

}

